
body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--bs-purple);
    color: white;
    display: flex;
    margin-bottom: 10px;
}


.header > Link {
    color: white;
    margin: 8px;
}

.title {
    margin-right: auto;
}

.userform {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 25px;
    width: 25vw;
    padding: 1vw;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.grouppage {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.chart {
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: min(90vw, 80vh);
    height: min(90vw, 80vh);
    background-image: url('./images/alignmentChart.png');
    background-size: min(90vw, 80vh) min(90vw, 80vh)
}

.userholder{
    position: relative;
    width:0px;
    height:0px;
}

.userinfo {
    background-color: white;
    position: absolute;
    top: min(4.5vw, 4vh);
    border:1px solid black;
    z-index: 1;
    padding: 10px;
    height: 275px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userinfotop {
    top: -280px;
}

.userinfoleft {
    left: -125px;
}

.quizpage {
    text-align: center;
}

.quizpage > h1 {
    font-size: 4vw;
}

.quizunit {
    border: 1px solid black;
}

.quizunit > h2 {
    font-size: 3vw;
}

.quizunit > img {
    width: 10vw
}

.quizunit > input {
    width: 40vw;
}