
body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--bs-purple);
    color: white;
    display: flex;
    margin-bottom: 10px;
}


.header > Link {
    color: white;
    margin: 8px;
}

.title {
    margin-right: auto;
}

.userform {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 25px;
    width: 25vw;
    padding: 1vw;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.grouppage {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.chart {
    display:flex;
    justify-content: center;
    align-items: center;
    width: min(90vw, 80vh);
    height: min(90vw, 80vh);
    background-image: url('./images/alignmentChart.png');
    background-size: min(90vw, 80vh) min(90vw, 80vh)
}
